html
    head
        meta(charset = "utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href = "/static/css/style.css")
    body
        p(id='num')
        p(id='all') Всего памяти: #{total_mem} МБ
        br
        p(id='free') Свободно: #{free_mem} МБ
        br
    
     
        form
            input.number(type='input' value='2')
            input.add-row(type='button' value='Add')
        table(id="table")
    
                    

						
						
        button.delete-row(type='button') Delete
		
		
        script(src = '/static/js/jquery-3.3.1.min.js', type = "text/javascript")
        script(src = "/static/js/process_data.js", type = "text/javascript")
      

